@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.search-input {
  width: 272px;
  height: 40px;
  padding: 8px 118px 8px 16px;
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.search-input:hover {
  border-radius: 4px;
  background: #fff;
  border: 1px solid #000000;
}

.searcn-btn {
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #14a2ee;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 1000;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  .gallery & {
    position: fixed;
    left: 50%;
    transform: translate(-50% -50%);
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section {
  width: 1440px;
  height: 792px;
  background: #fff;
  padding-bottom: 36px;
  padding-top: 24px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 156px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  background: #fff;
}

.gallery-item {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  list-style-type: none;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  background: #fff;
}

.gallery-image {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.gallery-modal-image {
  display: flex;
  margin-left: 30px;
  margin-bottom: 95px;
  width: 1112px;
  height: 640px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray -246.133px -4.929px / 127.08%
    147.165% no-repeat;
}

.image-properties {
  width: 360px;
  height: 48px;
  display: flex;
  justify-content: space-around;
}

.property-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-property-title {
  display: flex;
  align-items: center;
  color: #2e2f42;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.48px;
  align-items: center;
}

.image-property-data {
  color: #2e2f42;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
}

.more-btn {
  width: 125px;
  height: 40px;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  background: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin-left: 45%;
  margin-right: 50%;
  margin-bottom: 20px;

  &.btn-is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
  }
}
